/*
Original design: Daleri Structure (v1.0 - Jul 07, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/daleri-structure/
*/
/* Body */
* {
  margin:0; 
  padding:0;
}
body {
  background:#474d59 url(images/bodybg.gif) top left repeat-x;
  color:#eee;
  font:76% Verdana,Arial,Tahoma,"Trebuchet MS",sans-serif;
  line-height:1.4em;
  text-align:center;
  padding:0;
}
#wrapper {
  width:960px;
  background-color:#fff;
  color:#555;
  padding:10px;
  margin:10px auto 0 auto;
  text-align:left;
  border:1px solid #555;
}
#skip-link {
  width:960px;
  text-align:right;
  margin:10px auto 5px auto;
  color:#ddd;
  font-size:0.9em;
}
#skip-link p {
  margin:2px;
  padding:0;
}
#skip-link a {
  color:#eee;
  border-bottom: 1px dotted #aaa;
}
#skip-link a:hover {
  color:#fff;
  text-decoration:none;
  border-bottom:1px dotted #fff;
}

/* Header and title */
#header {
  text-align:left;
  padding:0;
  margin:0 0 10px 0;
}
#header #logo{
  margin-top:2em;
  margin-right:2em;
  float:left;
}
#sitetitle {
  width:340px;
  float:left;
}
#header h1, 
#header p {
  font-weight: 700;
  font-size:2.2em;
  letter-spacing:-2px;
  line-height:0.9em;
  margin:20px 0 10px 10px;
  padding:0;
}
#header h1 a, 
#header p a {
  font-weight:700;
  letter-spacing:-1px;
}
#header p {
  margin:5px 0 20px 20px;
  padding:0;
  letter-spacing:-1px;
  font-size:1.4em;
  color:#777;
}
/* menubar */
#menubar {
  float:right;
  width:600px;
  margin:0;
}
#menubar ul li{
  width:140px;
  margin: 0 0px 5px 10px;
}
#menubar ul li {
  border-bottom:1px solid #aaa;
  padding:0;
  font-weight:700;
  margin:0;
  color:#777;
}
#menubar ul li a {
  font-weight:700;
  color:#777;
}
#menubar ul li a:hover {
  color:#222;
}
#menubar ul li ul {
  padding:0;
  margin:0;
  border-bottom:1px solid #ccc;
}
#menubar ul li ul a {
  font-weight:400;
  padding:1px 0 1px 5px;
  color:#4d699d;
  display:block;
  width:135px;
}
#menubar ul li ul a:hover {
  color:#222;
  background:#f4f4f4;
}
/* Headline */
#headline {
  width:958px;
  text-align:center;
  margin:5px 0 15px 0;
  border:1px solid #ccc;
  background-color:#f0f0f0;
  color:#777; 
  font-size:0.9em;
}
#headline p {
  margin:2px;
  padding:0;
}
/* Footer */
#footer {
  clear:both;
  font-size:0.9em;
  width:960px;
  line-height:1.5em;
  color:#ccc;
  margin: 5px auto 10px auto;
  padding:0;
}
#footer p {
  margin:0;
  padding:0;
}
#footer a {
  color:#ddd;
  border-bottom: 1px dotted #aaa;
}
#footer a:hover {
  color:#eee;
  text-decoration:none;
  border-bottom:1px dotted #fff;
}
#footer .left {
  float:left;
  width:49%;
  text-align:left;
}
#footer .right {
  float:right;
  width:49%;
  text-align:right;
}
/* Headers */
  h2, h3, h4 {
  margin:0 0 14px;
  padding-bottom:5px;
  color:#666;
  font-weight:700;
}
/* Content */
#content {
  float:left;
  text-align:left;
  width:700px;
  margin:10px 0 0 0;
}
#content h2 {
  margin:0;
  font-size:1.7em;
  letter-spacing:-1px;
  clear:left; border-bottom:2px solid #ccc
}
#content h3 {
  font-size:1.4em
  letter-spacing:-1px
}
#content h2 a, #content h3 a {
  font-weight:700
}
#content p {
  margin:0 0 15px;
}
#content a {
  border-bottom:1px dotted #888;
}
#content a:hover {
  color: #222;
  border-bottom:1px dotted #000;
}
#content ul, 
#content ol {
  margin:0 0 15px 10px;
  padding:0 0 0 10px;
}
#content ul li, 
#content ol li {
  margin:0 0 10px 10px;
}
#content ul ul, 
#content ol ol {
  margin:5px 0 5px 10px;
}
/* sidebar-second */
#sidebar-second {
  text-align:left;
  margin:5px 0 0 718px;
  width:220px;
  padding:10px;
  background:#f0f0f0;
  border:1px solid #ccc;
}
#sidebar-second h2, 
#sidebar-second h3 {
  font-size:1.4em;
  padding:0 0 2px 0;
  margin:0 0 5px 0;
  border-bottom:2px solid #ccc;
}
#sidebar-second p, 
#sidebar-second ul, 
#sidebar-second ol {
  margin:0 0 15px 0;
  padding:0;
}
#sidebar-second a {
  font-weight:400;
}
#sidebar-second ul li {
  list-style:none;
  margin:0 0 3px 0;
}
#sidebar-second ul li a {
  font-size:1.1em;
}
#sidebar-second ul ul {
  margin:3px 0 3px 10px;
  font-size:1em;
}
#sidebar-second ul ul li {
  margin:2px 0;
}
#sidebar-second ul ul li a {
  font-weight:400;
}

#block-menu-primary-links ul.menu li {
  list-style-image: none;
  list-style: none;
  width:218px;
  padding:0;
  margin:0 0 2px 0;
}
#block-menu-primary-links ul.menu li a {
  display: block;
  overflow: visible;
  padding:2px 0 2px 5px;
  background-color:#f4f4f4;
  font-weight:400;
  border:1px solid #ddd;
  font-size:1.1em;
}
#block-menu-primary-links ul.menu li a:hover, #block-menu-primary-links ul.menu li.active a {
  border:1px solid #555;
  color:#444;
  background-color:#fff;
}
#block-menu-primary-links ul.menu li.active li a {
  background-color:#f8f8f8;
  color:#467aa7;
  border:1px solid #ddd;
  border-bottom:1px solid #ccc;
}
#block-menu-primary-links ul.menu ul {
  margin:0;
  padding:2px 0 0 15px;
}
#block-menu-primary-links ul.menu ul li {
  width:203px;
  letter-spacing:0;
}
#block-menu-primary-links ul.menu ul li a {
  font-size:0.9em;
  padding:1px 0 1px 5px;
}
/* Links */
a {
  color:#4d699d;
  font-weight:400;
  text-decoration:none;
}
a:hover {
  color:#444;
  text-decoration:none;
}
a img {
  border:0;
}
/* Various classes */
.left {
  float:left;
}
.right {
  float:right;
}
.textleft {
  text-align:left;
}
.textright {
  text-align:right;
}
.textcenter {
  text-align:center;
}
.introtext, .introtext a {
  font-weight:700;
}
.clear{
  clear:both;
}
.region-duo1{
  width:49%;
  float:left;
}
.region-duo2{
  width:49%;
  float:right;
}
/*node_links formatting*/
.node_links {
  text-align: right
  text-transform: capitalize;
  font-size: .74em;
  font-weight: bold;
  margin: 0 5px 40px 0;
  color: #ccc;
  font-style: normal;
}
#content .node_links a {
  color: #000;
}
#content .node_links a:before {
  content: "\00BB";
}
.node_links {
  background: #fff;
  border-bottom: 1px solid #ccc;
}
#content  .node_links ul li, 
#content  .node_links ul {
  margin: 0;
  padding:0;
}
#content  .node_links ul li{
  padding-left:2em;
}
.node_links .field-name-taxonomy-tags div{
  display: inline-block;
  padding-left:1em;
}
.node_links .field-name-taxonomy-tags .field-label{
  color:#666;
}
/*node formatting*/
#content .node  .content p:first-child:first-line{
  font-weight: bold;
  font-style: italic;
  font-size: 1.1em;
  margin: 0 0 4px;
}
#content .node  .content p{
  padding-bottom:1em;
}
/* admin tab links */
ul.primary, 
ul.primary li, 
ul.secondary, 
ul.secondary li {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}
ul.secondary {
  border-bottom: 1px solid #b4d7f0;
  margin: 0 0 1em;
  padding: .5em 0; 
  text-align: left;
}
ul.primary li a, 
ul.primary li.active a, 
ul.primary li a:hover, 
ul.primary li a:visited, 
ul.secondary li a, 
ul.secondary li.active a, 
ul.secondary li a:hover, 
ul.secondary li a:visited {
  background: none;
  border: 0;
  margin: 0;
  padding: 0 1em 0 0;
  text-decoration: none;
}
ul.primary li.active a, ul.secondary li.active a {
  font-weight: 700;
}
/* position admin tab links and style admin h2 */
#tabs-wrapper {
  margin: 0;
  padding: 0;
  display:inline-block;
}
h2.with-tabs {
  margin-bottom: 0;
}
#tabs-wrapper ul.tabs {
  margin: 0 0 .5em;
  padding: 0;
}
/*
.admin-panel, .admin-panel .description, .admin-panel .body, .admin, .admin .left, .admin .right, .admin .expert-link, .item-list, .menu {
  margin: 0;
  padding: 0;
}
.admin h3 {
  margin-bottom: 0;
}
.admin .left {
  float: left;
  width: 48%;
}
.admin .right {
  float: right;
  width: 48%;
}
.admin-panel {
  background: none;
  padding: 1em 1em 1.5em;
  text-align:left;
}
.admin-panel .description {
  margin-bottom: 1.5em;
}
.admin-panel dl {
  margin: 0;
}
.admin-panel dd {
  color: #898989;
  font-size: .92em;
  line-height: 1.3em;
  margin-bottom: .65em;
  margin-top: -.2em;
}
*/
.block {
  margin: 0 0 10px;
  color:#000;
}
.submitted{
  padding-bottom:10px;
  text-align:right;
  font-size:0.75em;
  margin:0;
  width:100%;
}
.item-list ul.pager{
  clear:none;
}
.border{
  border:1px solid #333;
}
#menubar ul li{
  display: inline-block;
  list-style-type: none;
}
#menubar ul li{
  margin:0;
  vertical-align: top;
}
#menubar ul li ul.menu{
  padding:0;
}
#menubar ul li ul li{
  display: block;
  list-style-type: none;
}
.field-name-field-tags div{
	display: inline;
}
.node_links ul{
	width: 100%;
}
.node_links ul li{
	float: right;
}
.node .content img{
	float: left;
	padding: 2px;
	border: 1px solid #000;
	margin:2px;
}