/*
Original design: Daleri Single (v1.0 - Mar 25, 2009) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/daleri-single/
*/

/* Main containers */
body {
  padding:0;
  margin:0;
  font:76% verdana,tahoma,sans-serif;
  background:#1a1a1a url(images/bodybg.jpg) top center no-repeat;
  color:#444;
  border-top:4px solid #444;
  text-align:center;
  line-height:1.5em;
}
#wrapper {
  width:760px;
  text-align:center;
  margin:0 auto;
}
#content {
  background:#fff;
  text-align:left;
  border:4px solid #666;
  padding:15px 15px 5px 15px;
  margin:0 0 15px 0;
}
#logo{
  margin-top:1em;
  margin-right:2em;
  float:left;
}
/* HTML Tags */
a {
  text-decoration:none;
  font-weight:700;
  color:#e49938;
}
a:hover {
  text-decoration:underline;
}
a img {
  border:0;
}
h1 {
  margin:15px auto 10px auto;
  padding:0;
  font-size:2.6em;
  color:#eee;
  letter-spacing:-2px;
  line-height:1.2em;
}
h1 a {
  color:#eee;
  font-weight:700;
  text-decoration:none;
}
h1 a:hover {
  color:#fff;
  text-decoration:none;
}
h2 {
  margin:0 0 12px 0;
  padding:12px 6px 12px 15px;
  background:#1a1a1a url(images/bodybg.jpg) top center no-repeat;
  border-left:4px solid #e49938;
  color:#ddd;
  font-size:1.5em;
  font-weight:400;
}
h2 a {
  font-weight:400;
}
h3 {
  font-size:1.4em;
  font-weight:400;
  margin:0 0 10px 0;
}
p {
  margin:0 0 15px 0;
}
ul {
  margin:0 0 15px 20px;
  padding:0;
}
li {
  margin:0;
  padding:0 0 0 5px;
}
/* Various classes */
.slogan {
  color:#ccc;
  font-size:1.4em;
  margin:0 0 15px 0;
  padding:0;
}
ul.primary-links {
  clear:both;
  font-size:1.4em;
  line-height:1.5em;
  color:#aaa;
  margin:0 0 15px 0;
}
ul.primary-links li {
  padding:3px 10px 5px 10px;
  font-weight:400;
  margin:0 2px;
  color:#ccc;
}
ul.primary-links li a{
  color:#aaa;
  font-weight:400;
}
ul.primary-links li:hover {
  background-color:#444;
  text-decoration:none;
}
ul.primary-links li a:hover {
  text-decoration:none;
  color:#fff;
}
.active {
  background-color:#444;
  color:#fff;
}
.active:hover {
  background-color:#444;
  color:#fff;
}
#footer, #footer a{
  color:#888;
  font-weight:400;
}
/* admin tab links */
ul.primary, 
ul.primary li, 
ul.secondary, 
ul.secondary li {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}
ul.secondary {
  border-bottom: 1px solid #b4d7f0;
  margin: 0 0 1em;
  padding: .5em 0;
  text-align: left;
}
ul.primary li a, 
ul.primary li.active a, 
ul.primary li a:hover, 
ul.primary li a:visited, 
ul.secondary li a,
ul.secondary li.active a,
ul.secondary li a:hover, 
ul.secondary li a:visited {
  background: none;
  border: 0;
  margin: 0;
  padding: 0 1em 0 0;
  text-decoration: none;
}
ul.primary li.active a, 
ul.secondary li.active a {
  font-weight: 700;
}
/* position admin tab links and style admin h2 */
#tabs-wrapper {
  margin: 0;
  padding: 0;
  display:inline-block;
}
h2.with-tabs {
  margin-bottom: 0;
}
#tabs-wrapper ul.tabs {
  margin: 0 0 .5em;
  padding: 0;
}
/* Various classes */
.textleft {
  text-align:left;
}
.textright {
  text-align:right;
}
.textcenter {
  text-align:center;
}
.block {
  margin: 0 0 10px;
}
.clear{
  clear:both;
}
.submitted{
  text-align:right;
  font-size:0.75em;
  margin:0;
  width:100%;
}
.border{
  border:1px solid #333;
}
.left {
  float:left;
}
.right {
  float:right;
}
ul.pager a{
  color:#e49938;
}
ul.pager a{
  background-color:#fff;
}
.field-name-field-tags div{
	display: inline;
}
.node_links ul{
	width: 100%;
}
.node_links ul li{
	float: right;
}
.node{
	margin-bottom:3em;
}